* {
	box-sizing: border-box;
}

:root {
	--pale-color: #c799f4a4;
	--text-color: #ffdd55;
	--primary-color: #ffdd55;
	--secondary-color: #fcc602;
	--tertiary-color: #ddd;
	--card-color: #4c257e;
	--background-color: #422461;
	--code-color: #e74c3c;
	--shadow-color: rgba(0, 0, 0, 0.89);
	--border-color: #fcc602;
}

body {
	font-family: "Poppins", sans-serif;
	color: var(--text-color);
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex: 1;
	/* height: 100vh; */
	background: linear-gradient(
		180deg,
		var(--pale-color) 5%,
		var(--background-color) 100%
	);
}

h1,
h2,
h3 {
	color: var(--background-color);
}

.btn {
	display: inline-block;
	height: fit-content;
	position: relative;
	text-decoration: none;
	color: var(--secondary-color);
	letter-spacing: 0.2em;
	cursor: pointer;
	background-color: var(--background-color);
	margin: 2% auto;
	padding: 2% 5%;
	width: auto;
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 10px var(--shadow-color);
	text-align: center;
}

.btn:hover {
	background-color: var(--pale-color);
	color: var(--primary-color);
	text-decoration: none;
	box-shadow: 0 2px 15px var(--shadow-color);
}
