/* base.css */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #bebebe;
}

h1,
h2 {
	color: #194374;
}

h1 {
	font-size: 1.5em;
}

.btn {
	display: inline-block;
	height: fit-content;
	position: relative;
	text-decoration: none;
	color: rgb(82, 47, 1);
	letter-spacing: 0.2em;
	cursor: pointer;
	background-color: #4a7f86;
	margin: 2% auto;
	padding: 2% 5%;
	width: auto;
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgb(1, 2, 19);
	text-align: center;
}

.btn:hover {
	background-color: #5b7e5c;
	color: rgb(1, 2, 19);
	text-decoration: none;
	box-shadow: 0 2px 15px rgb(1, 2, 19);
}

.footer {
	background-color: rgb(14, 37, 40);
	color: #fff;
	text-align: center;
	padding: 20px;
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer p {
	margin: 0;
	font-size: 0.9em;
}

.footer a {
	color: rgb(167, 96, 3);
	text-decoration: none;
}

.footer a:hover {
	color: #fff;
}
