/* base.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto+Mono&display=swap');

:root {
    --primary-color: #ffdd55;
    --secondary-color: #fcc602;
    --background-color: #8d5dbd;
    --text-color: #ffdd55;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background: linear-gradient(135deg, var(--background-color) 0%, #8d5dbd 100%);
    padding: 0;
    margin: 0;
}

.base-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: #fcc602;
	justify-content: space-between;
}

h1,
h2 {
	color: #194374;
}

h1 {
	font-size: 1.5em;
}

.btn {
	display: inline-block;
	height: fit-content;
	position: relative;
	text-decoration: none;
	color: rgb(82, 47, 1);
	letter-spacing: 0.2em;
	cursor: pointer;
	background-color: #4a7f86;
	margin: 2% auto;
	padding: 2% 5%;
	width: auto;
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgb(1, 2, 19);
	text-align: center;
}

.btn:hover {
	background-color: #5b7e5c;
	color: rgb(1, 2, 19);
	text-decoration: none;
	box-shadow: 0 2px 15px rgb(1, 2, 19);
}

