.wrapper {
	display: none;
}

svg {
	padding: 10px;
}

.main-footer{
	height: 100%;
	padding-top: 190px;
	display: flex;
	justify-content: flex-end;
}

.my-footer {
	width: 100%;
	padding: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--background-color);
}

.my-footer svg {
	fill: var(--text-color);
	padding: 0;
}

.my-footer span {
	font-size: 0.8em;
}
