.wrapper {
	display: none;
}

svg {
	padding: 10px;
}

.footer {
	background-color: #4c257e;
	color: #fff;
	text-align: center;
	width: 100%;
}

.footer p {
	margin: 0;
	font-size: 0.9em;
}

.footer a {
	color: rgb(167, 96, 3);
	text-decoration: none;
}

.footer a:hover {
	color: #fff;
}

.my-footer {
	width: 100%;
	margin: auto;
	padding: 1em;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	background-color: #4c257e;
}

.my-footer svg {
	fill: #fcc602;
	padding: 0;
}

.my-footer span {
	font-size: 0.8em;
}
