.wrapper {
	margin-top: 10%;
	/* width: 100vw; */
	/* position: absolute; */
	/* bottom: 0%; */
	background-color: #194374;
	color: rgb(167, 96, 3);
}

svg {
	padding: 10px;
}

.authors {
	margin: 1% auto -8em auto;
}

.authors p {
	margin-top: -1.5em;
	font-size: 0.7em;
	text-shadow: 0 0 0.5em rgb(254, 228, 196);
	text-shadow: 1px 1px 2px rgb(1, 2, 19), 0 0 5px #222;
}

.author {
	display: inline-block;
	margin: 5%;
	text-align: center;
	font-size: medium;
}

.author img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	object-fit: cover;
	box-shadow: 2px 8px 15px rgb(1, 2, 19);
}

.author-name {
	margin-top: 10px;
	font-size: 1.2em;
}

.my-footer {
	padding: 1% 20%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
}

.my-footer svg {
	fill: rgb(167, 96, 3);
	margin: 0 10px;
}

.my-footer span {
	font-size: 0.8em;
}

@media screen and (max-width: 544px) {
	p {
		padding: 0;
		font-size: 0.9em;
	}

	h2 {
		font-size: 1.2em;
	}

	.authors p {
		margin-top: -1.2em;
		font-size: 0.5em;
	}
}
