.wrapper {
	color: #c3daf5;
	margin-top: -160px;
}

svg {
	padding: 10px;
}

.my-footer {
	padding: 10px;
	margin: auto;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	align-items: center;
	background-color: #194374;
}

.my-footer svg {
	fill: rgb(167, 96, 3);
	margin: 0 10px;
}

.my-footer span {
	font-size: 0.8em;
}
