/* Home page styles */
.home-page {
	position: relative;
	margin-right: 8%;
	margin-bottom: 0px;
}

.home-page #home-groupie {
	position: absolute;
	background-color: #bebebe;
	right: 100px;
	top: -25px;
}

.home-page #home-tracker {
	position: absolute;
	right: 105px;
	top: -5px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 100%;
}

/* Container for search input and icon */
.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin-left: 13%;
}

#resetButton {
	margin-left: 20px;
	margin-top: -10px;
	cursor: pointer;
	background-color: #bebebe;
	z-index: 20;
	border-radius: 50%;
}

#resetButton:hover {
	box-shadow: 0px 2px 8px rgb(0, 0, 0);
	transition: box-shadow 0.5s ease-in-out;
	transform: rotate(45deg);
	background-color: #9c9c9c;
}

.range-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 25px 10px;
	margin-top: -4.8em;
	border: 1px solid #194374;
	border-radius: 20px;
	max-height: 180px;
}

/* Pagination button styling */
.pagination-button {
	padding: 10px 5px;
	margin: 0 10px;
	cursor: pointer;
	opacity: 1;
	transition: background-color 0.5s ease, opacity 0.5s ease;
}

/* Disabled state styling for image buttons */
.pagination-button.disabled {
	cursor: not-allowed;
	opacity: 0.3; /* Reduce opacity to indicate the disabled state */
}

/* Hover state for enabled pagination buttons */
.pagination-button:hover:not(.disabled) {
	background-color: #68aaf5;
	transition: background-color 0.5s ease;
	box-shadow: 0px 2px 8px rgb(0, 0, 0);
	border-radius: 20px;
	transform: translateX(5px);
}

/* Pagination information styling */
#paginationInfo {
	font-size: 1em;
	color: #333;
}

/* artis card styles */
.artists {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	min-height: 430px;
}

/* Adjust for mobile responsiveness */
@media screen and (max-width: 768px) {
	#resetButton {
		margin-left: 0;
	}
}

/* Adjust for mobile responsiveness */
@media screen and (max-width: 580px) {
	.range-filters {
		max-height: 290px;
	}

	.artists {
		align-items: flex-start;
	}

	.pagination-button {
		max-width: 60px;
	}
}
