/* Home page styles */
.home-page {
	text-align: center;
	margin-bottom: 0px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 100%;
}

/* Container for search input and icon */
.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-right: -5%;
}

#resetButton {
	margin-left: 20px;
	margin-top: -10px;
	cursor: pointer;
	background-color: #a09d9d;
	z-index: 20;
	border-radius: 50%;
}

#resetButton:hover {
	box-shadow: 0px 2px 8px rgb(0, 0, 0);
	transition: box-shadow 0.5s ease-in-out;
	transform: rotate(45deg);
	background-color: #78797b;
}

.range-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-items: center;
	width: 100%;
	padding: 25px 10px;
	margin-top: -5em;
	border: 1px solid #194374;
	border-radius: 20px;
	max-height: 180px;
}

.pagination-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.pagination-button {
	padding: 10px 20px;
	margin: 0 10px;
	font-size: 1em;
	color: white;
	background-color: #194374;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pagination-button:disabled {
	background-color: #ddd;
	cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
	background-color: #3b6a69;
}

#paginationInfo {
	font-size: 1em;
	color: #333;
}
