/* Home page styles */
.home-page {
	text-align: center;
	margin-bottom: 0px;
}

header {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em auto;
	height: 25vh;
}
