/* Home page styles */
.home-container {
	min-width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.searchSummaryContainer {
	display: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
}

#resetButton {
	width: 60px;
	cursor: pointer;
	transition:
		transform 0.5s ease-in-out,
		filter 0.5s ease-in-out;
}

#resetButton:hover {
	filter: drop-shadow(0px 2px 8px var(--shadow-color));
	transform: rotate(45deg);
}

.searchSummary {
	display: flex;
	font-size: 12px;
	padding-right: 2%;
	align-items: center;
	gap: 10px;
	width: 100%;
}

.searchSummaryItem {
	display: flex;
	background-color: var(--pale-color);
	color: var(--background-color);
	line-height: 1.2em;
	padding: 5px 8px;
	border-radius: 5px;
	max-width: 120px;
	max-height: 35px;
	box-shadow: 0 2px 4px var(--shadow-color);
	overflow: hidden;
}

.searchSummaryItem p {
	margin: 0;
	padding: 0;
}

.closeIcon {
	cursor: pointer;
	color: var(--code-color);
	font-weight: bold;
	font-size: 1.4em;
	margin-left: 5px;
}

.hidden {
	display: none;
}

.range-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 25px 10px;
	margin-top: -4.8em;
	border: 1px solid var(--background-color);
	border-radius: 20px;
	max-height: 180px;
}

#pagination {
	padding: 0;
	width: 5%;
}

#nextPage {
	display: inline-block;
	width: 10%;
	padding: 0;
	margin-right: 30px;
	cursor: pointer;
	opacity: 1;
	transition:
		background-color 0.5s ease,
		opacity 0.5s ease;
}

#nextPage.disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

#prevPage {
	display: inline-block;
	width: 10%;
	padding: 0;
	margin-left: 30px;
	cursor: pointer;
	opacity: 1;
	transition:
		background-color 0.5s ease,
		opacity 0.5s ease;
}

#prevPage.disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

/* Pagination button styling */
.pagination-button {
	padding: 0;
	margin: 0;
	cursor: pointer;
	opacity: 1;
	transition:
		background-color 0.5s ease,
		opacity 0.5s ease;
}

/* Hover state for enabled pagination buttons */
.pagination-button:hover:not(.disabled) {
	background-color: var(--pale-color);
	transition: background-color 0.5s ease;
	box-shadow: 0px 2px 8px var(--shadow-color);
	border-radius: 50px;
	transform: translateX(5px);
}

/* Pagination information styling */
#paginationInfo {
	font-size: 1em;
	color: var(--background-color);
}

/* artis card styles */
.artists {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	min-height: 430px;
}

/* loader styles */
.loader-container {
	width: 100%;
	display: grid;
	place-items: center;
	margin: 25%;
	padding: 10%;
}

.loader {
	width: 90px;
	aspect-ratio: 1 / 1;
}

.dot {
	margin: auto;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	position: absolute;
	inset: 0;
	box-shadow: 2px 4px 10px 6px var(--shadow-color);
	animation: 2s ease infinite alternate;
}

.dot-lower {
	width: 90px;
	animation-name: lower;
	background: var(--background-color);
}

.dot-middle {
	width: 60px;
	animation-name: middle;
	background: var(--pale-color);
}

.dot-upper {
	width: 30px;
	animation-name: upper;
	background: var(--tertiary-color);
}

@keyframes lower {
	0%,
	30% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

@keyframes middle {
	0%,
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

@keyframes upper {
	0%,
	70% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

/* load animations speed*/
@keyframes lower {
	0%,
	30% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

@keyframes middle {
	0%,
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

@keyframes upper {
	0%,
	70% {
		transform: scale(0);
	}
	100% {
		transform: scale(2);
	}
}

/* Faster animations with correct properties */
.element-lower {
	animation: lower 0.3s linear infinite;
}

.element-middle {
	animation: middle 0.3s linear infinite;
}

.element-upper {
	animation: upper 0.3s linear infinite;
}

/* Adjust for mobile responsiveness */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 580px) {
	.range-filters {
		max-height: 290px;
	}

	.artists {
		align-items: flex-start;
	}

	.pagination-button {
		position: sticky;
		display: inline-block;
		max-width: 60px;
		top: 40%;
	}
}

@media screen and (max-width: 454px) {
	.range-filters {
		margin-top: -8em;
		max-height: 15%;
	}
}

@media screen and (max-width: 328px) {
	.range-filters {
		margin-top: -10em;
	}

	.range-filters {
		margin-top: 20px;
		border: none;
	}
}

@media screen and (max-width: 320px) {
	/* .search-container {
		margin-bottom: 20px;
	} */
}

@media screen and (max-width: 280px) {
	#pagination {
		margin-top: -2em;
	}

	#pagination {
		left: 3em;
	}

	#nextPage {
		margin-left: -10em;
	}

	#artistsContainer {
		padding-top: 3em;
	}

	.range-filters {
		min-width: 240px;
	}
}
