/* home.css */
.home-page {
	text-align: center;
	margin-bottom: 20px;
}

.artists {
	padding: 20px;
}

.artists-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.artist-card {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	max-width: 300px;
	text-align: center;
}

.artist-image {
	border-radius: 50%;
	margin-bottom: 10px;
}

.artist-info {
	text-align: left;
}

.artist-name {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.artist-members {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.artist-creationDate,
.artist-firstAlbum,
.artist-locations,
.artist-concertDates,
.artist-relations {
	margin: 5px 0;
	font-size: 0.9em;
}

/* Modal styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
