/* Home page styles */
.home-page {
	text-align: center;
	margin-bottom: 0px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 100%;
}

/* Container for search input and icon */
.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#resetButton {
	cursor: pointer;
}

#resetButton:hover {
	box-shadow: 0px 2px 8px rgb(0, 0, 0);
	border-radius: 50%;
	transition: box-shadow 0.5s ease-in-out;
	transform: rotate(45deg);
}
