/* home.css */
.home-page {
	text-align: center;
	margin-bottom: 20px;
}

.artists {
	padding: 20px;
}

.artists-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.artist-card {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	max-width: 300px;
	text-align: center;
}

.artist-image {
	border-radius: 50%;
	margin-bottom: 10px;
}

.artist-info {
	text-align: left;
}

.artist-name {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.artist-members {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.artist-creationDate,
.artist-firstAlbum,
.artist-locations,
.artist-concertDates,
.artist-relations {
	margin: 5px 0;
	font-size: 0.9em;
}
