/* navbar.css */
.navbar {
	background-color: var(--background-color);
	width: 100%;
	padding: 0;
	margin: 0;
	box-shadow: 0 4px 6px var(--shadow-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu-toggle {
	display: none;
}

#hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	padding-right: 30px;
}

.hamburger .bar {
	width: 30px;
	height: 3px;
	background-color: var(--secondary-color);
	margin: 5px 0;
	transition: 0.3s;
}

.user-icon {
	transition: 0.3s;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	padding: 0.6em;
}

.user-icon img {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.navbar ul li {
	margin: 0 10px;
}

.navbar ul li::before {
	content: none;
	display: none;
	margin: 0;
	padding: 0;
}

.navbar ul li a {
	display: block;
	color: var(--text-color);
	text-align: center;
	padding: 10px;
	text-decoration: none;
	transition: color 0.3s;
}

.nav-logo {
	display: none;
	align-items: center;
	justify-content: space-between;
	color: var(--text-color);
	font-weight: bolder;
	font-size: 1.4em;
	margin-left: 60px;
}

#nav-groupie {
	margin: 10px 30px;
}

#nav-tracker img {
	cursor: pointer;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}



#nav-menu {
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 100%;
	left: 0;
	background-color: var(--background-color);
	padding: 10px;
	width: 100%;
	box-shadow: 0 2px 10px var(--shadow-color);
	opacity: 0;
	transition: opacity 0.4s ease;
	z-index: 300;
}

#nav-menu ul li a {
	color: var(--primary-color);
	background-color: var(--shadow-color);
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

#nav-menu ul li a:hover,
#nav-menu ul li.active a {
	color: var(--code-color);
	background-color: var(--pale-color);
}

/* Show hamburger icon on small screens */
@media (max-width: 768px) {
	.navbar {
		height: 80px;
	}

	.hamburger {
		width: 100%;
		display: flex;
	}

	.menu-toggle:checked + .hamburger #bar1 {
		transform: rotate(45deg);
		top: 15px;
	}

	.menu-toggle:checked + .hamburger #bar2 {
		opacity: 0;
	}

	.menu-toggle:checked + .hamburger #bar3 {
		transform: rotate(-45deg);
		top: -10px;
	}

	.menu-toggle:checked ~ #nav-menu {
		display: flex;
		opacity: 0.9;
		transition: opacity 0.4s ease;
	}

	.navbar ul {
		display: none;
		flex-direction: column;
		position: relative;
		top: 60px;
		right: 0;
		width: 100%;
		background-color: #222;
		box-shadow: 0 2px 10px var(--shadow-color);
	}

	.navbar ul li {
		padding: 15px;
		width: 100%;
		background-color: var(--shadow-color);
		border-radius: 5%;
	}

	.navbar ul li a {
		padding: 15px;
		color: var(--text-color);
	}

	.nav-logo {
		display: flex;
	}
}

@media screen and (max-width: 320px) {
	.nav-logo #nav-groupie {
		left: -8.5%;
	}

	.nav-logo #nav-tracker {
		left: -61%;
	}
}

@media screen and (max-width: 280px) {
	.nav-logo {
		left: 40%;
	}
}
