/* navbar.css */
.navbar {
	background-color: rgb(14, 37, 40);
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-shadow: 0 8px 6px rgb(1, 2, 19);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.menu-toggle {
	display: none;
}

.hamburger {
	display: none;
	flex-direction: column;
	cursor: pointer;
	padding: 10px;
}

.hamburger .bar {
	width: 30px;
	height: 3px;
	background-color: bisque;
	margin: 5px 0;
	transition: 0.3s;
}

.user-icon {
	transition: 0.3s;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	padding: 0.6em;
}

.user-icon img {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.username {
	font-weight: bold;
	color: #4a7f86;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.navbar ul li {
	margin: 0 10px;
}

.navbar ul li a {
	display: block;
	color: rgb(167, 96, 3);
	text-align: center;
	padding: 10px;
	text-decoration: none;
	transition: color 0.3s;
}

.navbar ul li a:hover {
	color: rgb(1, 2, 19);
}

.navbar #logout {
	letter-spacing: 0.2em;
	font-size: 0.7em;
	color: rgb(82, 47, 1);
	background-color: rgb(139, 3, 166);
	border-radius: 0.6em;
	padding: 0.2em 0.9em;
	transition: background-color 0.3s ease;
}

.navbar #logout:hover {
	background-color: rgb(76, 2, 91);
}

/* Show hamburger icon on small screens */
@media (max-width: 768px) {
	.hamburger {
		display: flex;
	}

	.navbar ul {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		background-color: #222;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	}

	.menu-toggle:checked + .hamburger #bar1 {
		transform: rotate(45deg);
		top: 15px;
	}

	.menu-toggle:checked + .hamburger #bar2 {
		opacity: 0;
	}

	.menu-toggle:checked + .hamburger #bar3 {
		transform: rotate(-45deg);
		top: -10px;
	}

	.menu-toggle:checked ~ #nav-menu {
		display: flex;
		opacity: 0.9;
		transition: opacity 0.4s ease;
	}

	.navbar ul li {
		padding: 15px;
		width: 100%;
		background-color: rgb(19, 9, 1);
		border-radius: 5%;
	}

	.navbar ul li a {
		padding: 15px;
		color: #fff;
	}
}
