/* navbar.css */
.navbar {
	background-color: var(--background-color);
	width: 100%;
	padding: 10px;
	margin: 0;
	box-shadow: 0 4px 6px var(--shadow-color);
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}

.menu-toggle {
	display: none;
}

#hamburger {
	display: none;
	cursor: pointer;
}

.hamburger .bar {
	width: 30px;
	height: 3px;
	background-color: var(--secondary-color);
	margin: 5px 0;
	transition: 0.3s;
}

.user-icon {
	transition: 0.3s;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	padding: 0.6em;
}

.user-icon img {
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 50%;
	transition: transform 0.3s ease;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.navbar ul li {
	margin: 0 10px;
}

.navbar ul li::before {
	content: none;
	display: none;
	margin: 0;
	padding: 0;
}

.navbar ul li a {
	display: block;
	color: var(--text-color);
	text-align: center;
	padding: 10px;
	text-decoration: none;
	transition: color 0.3s;
}

.nav-logo {
	align-items: center;
	justify-content: space-between;
	color: var(--text-color);
	font-weight: bolder;
	font-size: 1.4em;
	width: 15%;
	margin-left: 20px;
}

#nav-tracker img {
	cursor: pointer;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 15%;
}

#nav-menu {
	display: none;
	position: absolute;
	padding: 0;
	margin: 0;
	top: 100%;
	left: 0;
	background-color: var(--background-color);
	padding: 10px;
	width: 100%;
	box-shadow: 0 2px 10px var(--shadow-color);
	opacity: 0;
	transition: opacity 0.4s ease;
	z-index: 300;
}

#nav-menu ul li a {
	color: var(--primary-color);
	background-color: var(--shadow-color);
	border-radius: 30px;
	transition: all 0.3s ease-in-out;
}

#nav-menu ul li a:hover,
#nav-menu ul li.active a {
	color: var(--code-color);
	background-color: var(--pale-color);
}

/* Container for search input and icon */
.search-input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-width: 70%;
}

.search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: fit-content;
	position: relative;
}

.search-icon {
	margin-top: -50%;
	max-width: 40px;
	max-height: 40px;
	cursor: pointer;
}

.search-icon img {
	margin: 0;
	padding: 0;
	transform: rotate(270deg);
	transition: transform 0.5s ease;
}

.search-icon img:hover {
	transform: rotate(90deg);
}

.input-search {
	height: 50px;
	width: 50px; /* Collapsed width */
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background-color: transparent;
	padding-right: 40px;
	color: #fff;
}

/* Expanded width on click */
.input-search.expanded {
	width: 300px !important; /* Add !important if necessary */
	border-radius: 0;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 0.5s ease-in-out;
}

.searchUnified {
	width: 90%;
	padding: 10px 50px 10px 20px;
	font-size: 1.1rem;
	border-radius: 25px;
	border: 2px solid var(--background-color);
	outline: none;
	background-color: #9670af;
	box-shadow: 0px 2px 8px var(--shadow-color);
	transition:
		box-shadow 0.3s ease-in-out,
		border-color 0.3s ease-in-out;
}

.searchUnified:focus {
	border-color: var(--background-color);
	box-shadow: 0px 4px 12px var(--shadow-color);
}

.unified-suggestions {
	display: flex;
	width: 100%;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0 4px 8px var(--shadow-color);
	top: 20em;
	padding: 3px 30px;
	z-index: 200;
}

.suggestion-category {
	margin-bottom: 10px;
}

.suggestion-items {
	max-height: 150px;
	overflow-y: auto;
}

.suggestion-item {
	padding: 10px;
	border-radius: 20px;
	cursor: pointer;
	border-bottom: 1px solid var(--tertiary-color);
	color: var(--background-color);
}

.suggestion-item[data-label]::after {
	content: " - " attr(data-label);
	color: var(--code-color);
	font-size: 0.9em;
	margin-left: 5px;
}

.suggestion-item:hover {
	background-color: var(--pale-color);
}

.unified-suggestions::-webkit-scrollbar {
	width: 8px;
}

.unified-suggestions::-webkit-scrollbar-thumb {
	background-color: var(--shadow-color);
	border-radius: 4px;
}

.suggestions-dropdown {
	position: relative;
	background-color: var(--tertiary-color);
	border: 1px solid var(--pale-color);
	max-height: 150px;
	overflow-y: auto;
	display: none; /* Initially hidden */
}

/* Show hamburger icon on small screens */
@media (max-width: 768px) {
	.navbar {
		height: 80px;
	}

	.nav-menu {
		display: none;
	}

	#hamburger {
		width: 100%;
		display: flex;
	}

	.menu-toggle:checked + .hamburger #bar1 {
		transform: rotate(45deg);
		top: 15px;
	}

	.menu-toggle:checked + .hamburger #bar2 {
		opacity: 0;
	}

	.menu-toggle:checked + .hamburger #bar3 {
		transform: rotate(-45deg);
		top: -10px;
	}

	.menu-toggle:checked ~ #nav-menu {
		display: flex;
		opacity: 0.9;
		transition: opacity 0.4s ease;
	}

	.navbar ul {
		display: none;
		flex-direction: column;
		position: relative;
		top: 60px;
		right: 0;
		width: 100%;
		background-color: #222;
		box-shadow: 0 2px 10px var(--shadow-color);
	}

	.navbar ul li {
		padding: 15px;
		width: 100%;
		background-color: var(--shadow-color);
		border-radius: 5%;
	}

	.navbar ul li a {
		padding: 15px;
		color: var(--text-color);
	}

	/* .nav-logo {
		display: flex;
	} */
}

@media screen and (max-width: 320px) {
	/* .nav-logo #nav-groupie {
		left: -8.5%;
	} */

	/* .nav-logo #nav-tracker {
		left: -61%;
	} */
}

@media screen and (max-width: 280px) {
	/* .nav-logo {
		left: 40%;
	} */
}
