#artistsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin: 10px auto;
	width: 100%;
}

.artist-card {
	display: flex;
	flex-direction: column;
	background-color: #908e8e70;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 10px;
	max-width: 200px;
	min-width: 200px;
	max-height: 200px;
	min-height: 200px;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.89);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.artist-image-container {
	display: flex;
	color: #194374;
}

.creation-date {
	font-weight: 300;
}

.artist-details {
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
	margin-right: 3px;
}

.artist-card:hover {
	transform: translateY(-5px);
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.703);
}

.artist-image {
	border-radius: 50%;
	margin-bottom: 10px;
	max-width: 60px;
	max-height: 60px;
	min-width: 60px;
	min-height: 60px;
}

.artist-info {
	text-align: left;
}

.artist-name {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.artist-members {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#artistDetails {
	display: flex;
	flex-wrap: wrap;
}

.artist-firstAlbum {
	font-size: 14px;
}

.artist-creationDate,
.artist-locations,
.artist-concertDates,
.artist-relations .artist-name {
	margin: 5px 0;
	font-size: 12px;
}

/* Modal styles */
.modal {
	display: none; /* Hidden by default */
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(
		0,
		0,
		0,
		0.545
	); /* Semi-transparent black background */
	opacity: 0;
	transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.modal-content {
	background-color: rgba(81, 80, 80, 0.85); /* Dark grey with transparency */
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: 8px;
	transform: translateY(-50px);
	transition: transform 0.3s ease, opacity 0.3s ease;
	opacity: 0;
}

/* When the modal is displayed */
.modal.show {
	display: block;
	opacity: 1;
	z-index: 20;
}

.modal-content.show {
	transform: translateY(0);
	opacity: 1;
}

.close-button {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	transition: color 0.2s ease;
}

.close-button:hover,
.close-button:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
