{{template "base" . }} {{define "content"}}
<!-- Authors Section -->
<div class="authors">
	<h3>Authors</h3>
	<div class="author">
		<img
			src="https://avatars.githubusercontent.com/u/167855655?v=4"
			alt="Author 1"
		/>
		<div class="author-name">Doreen Onyango</div>
	</div>

	<div class="author">
		<img
			src="https://avatars.githubusercontent.com/u/42722945?v=4"
			alt="Author 3"
		/>
		<div class="author-name">Adioz Eshitemi</div>
	</div>
	<p>
		Stay updated with the latest news, features, and fun stuff. Connect with us
		on:
	</p>
</div>
<!-- Authors-End -->
{{ end }}
