{{define "artistCard"}}
<div id="artistsContainer"></div>

<template id="artistCardTemplate">
	<div
		class="artist-card-link"
		data-artist-id=""
	>
		<img
			class="artist-image"
			src=""
			alt="Artist Name image"
		/>
		<div class="artist-details">
			<p class="artist-name">Artist Name</p>
			<p class="artist-creationDate-value">Creation Date:</p>
			<p class="artist-firstAlbum">First Album:</p>
			<p class="artist-firstAlbum-value"></p>
			<p class="artist-members"></p>
		</div>
	</div>
</template>
{{end}}
