<!-- search filters -->
{{define "searchFilter"}}
<form id="searchForm">
	<!-- searchByName -->
	<label for="searchByName">Search By Name</label>
	<input
		name="searchByName"
		type="text"
		id="searchByName"
		placeholder="Search for artists..."
	/>
	<div
		id="nameSuggestions"
		class="suggestions-dropdown"
	></div>
	<!-- Name suggestions dropdown -->

	<!-- searchByConcert -->
	<label for="searchByConcert">Search By Concert</label>
	<input
		name="searchByConcert"
		type="text"
		id="searchByConcert"
		placeholder="Search for concerts..."
	/>
	<div
		id="concertSuggestions"
		class="suggestions-dropdown"
	></div>
	<!-- Concert suggestions dropdown -->
</form>

<!-- search by creation date -->
<label for="searchByCreationDate">Search By Creation Date</label>
<input
	name="searchByCreationDate"
	type="text"
	id="searchByCreationDate"
	placeholder="Search by creation date..."
/>

<div
	id="creationDateSuggestions"
	class="suggestions-dropdown"
></div>

{{end}}
<!-- end of search filter -->

<!-- members filter -->
{{define "membersFilter"}}
<div id="membersFilter">
	<label>
		<input
			type="checkbox"
			value="1"
		/>
		1 Member
	</label>
	<label>
		<input
			type="checkbox"
			value="2"
		/>
		2 Members
	</label>
	<label>
		<input
			type="checkbox"
			value="3"
		/>
		3 Members
	</label>
	<label>
		<input
			type="checkbox"
			value="4"
		/>
		4 Members
	</label>
	<label>
		<input
			type="checkbox"
			value="5"
		/>
		5 Members
	</label>
	<label>
		<input
			type="checkbox"
			value="6"
		/>
		6 Members
	</label>
	<label>
		<input
			type="checkbox"
			value="7"
		/>
		7 Members
	</label>
</div>
{{end}}
<!-- end of members filter -->

<!-- range filters -->
{{define "rangeFilter"}}
<div
	class="range_concertDate"
	data-label="Creation Date"
>
	<div class="sliders_control">
		<div
			id="fromSliderTooltip1"
			class="slider-tooltip"
		>
			{{ .minYear }}
		</div>
		<input
			id="fromSlider1"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .minYear }}"
		/>
		<div
			id="toSliderTooltip1"
			class="slider-tooltip"
		>
			{{ .maxYear }}
		</div>
		<input
			id="toSlider1"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .maxYear }}"
		/>
	</div>
</div>

<div
	class="range_firstAlbum"
	data-label="First Album Release"
>
	<div class="sliders_control">
		<div
			id="fromSliderTooltip2"
			class="slider-tooltip"
		>
			{{ .minYear }}
		</div>
		<input
			id="fromSlider2"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .minYear }}"
		/>
		<div
			id="toSliderTooltip2"
			class="slider-tooltip"
		>
			{{ .maxYear }}
		</div>
		<input
			id="toSlider2"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .maxYear }}"
		/>
	</div>
</div>
{{end}}
<!-- end of range filter -->
