<!-- search filters -->
{{define "searchFilter"}}
<form id="searchForm">
	<!-- searchByName -->
	<label for="searchByName">Search By Name</label>
	<input
		name="searchByName"
		type="text"
		id="searchByName"
		placeholder="Search for artists..."
	/>

	<!-- searchByConcert -->
	<label for="searchByConcert">search By Concert</label>
	<input
		name="searchByConcert"
		type="text"
		id="searchByConcert"
		placeholder="Search for artists..."
	/>
</form>
{{end}}
<!-- end of search filter -->

<!-- members filter -->
{{define "membersFilter"}}
<div id="membersFilter">
	<label
		><input
			type="checkbox"
			value="1"
		/>
		1</label
	>
	<label
		><input
			type="checkbox"
			value="2"
		/>
		2</label
	>
	<label
		><input
			type="checkbox"
			value="3"
		/>
		3</label
	>
	<label
		><input
			type="checkbox"
			value="4"
		/>
		4</label
	>
	<label
		><input
			type="checkbox"
			value="5"
		/>
		5</label
	>
	<label
		><input
			type="checkbox"
			value="6"
		/>
		6</label
	>
	<label
		><input
			type="checkbox"
			value="7"
		/>
		7</label
	>
</div>
{{ end }}
<!-- end of members filter -->

<!-- range filter -->
{{define "rangeFilter"}}
<div class="range_concertDate">
	<div class="sliders_control">
		<div
			id="fromSliderTooltip1"
			class="slider-tooltip"
		>
			{{ .minYear}}
		</div>
		<input
			id="fromSlider1"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .minYear }}"
		/>
		<div
			id="toSliderTooltip1"
			class="slider-tooltip"
		>
			{{ .maxYear }}
		</div>
		<input
			id="toSlider1"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .maxYear }}"
		/>
	</div>
</div>

<div class="range_firstAlbum">
	<div class="sliders_control">
		<div
			id="fromSliderTooltip2"
			class="slider-tooltip"
		>
			{{ .minYear}}
		</div>
		<input
			id="fromSlider2"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .minYear }}"
		/>
		<div
			id="toSliderTooltip2"
			class="slider-tooltip"
		>
			{{ .maxYear }}
		</div>
		<input
			id="toSlider2"
			type="range"
			min="{{ .minYear }}"
			max="{{ .maxYear }}"
			step="1"
			value="{{ .maxYear }}"
		/>
	</div>
</div>
{{ end }}
<!-- end of range filter -->

<!-- Dropdown to select the filter type -->
{{ define "filterType"}}
<label for="filterType">Filter by:</label>
<select id="filterType">
	<option value="creationDate">Creation Date</option>
	<option value="firstAlbum">First Album Date</option>
</select>
{{ end }}
<!-- end of dropdown -->

<!-- concerts filter -->
<!-- Add this below the existing filters -->
{{ define "concertsFilter"}}
<label for="concertsFilter">Sort by:</label>
<select id="concertsFilter">
	<option value="default">Default</option>
	<option value="location">Concert Locations</option>
</select>
{{ end }}
<!-- end of concert filter -->
