{{template "base" . }} {{ define "homecss"}}
<link
	rel="stylesheet"
	href="/static/styles/home.layout.css"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="/static/styles/renders.css"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="/static/styles/filters.css"
	type="text/css"
/>
{{end}} {{define "title"}} Home {{end}} {{define "content"}}
<div class="home-page">
	<h1 id="home-page">Welcome to the Groupie Tracker</h1>
	<p>
		This is a simple web application designed to help track groupies and their
		members.
	</p>
</div>

<div class="artists">
	<h1>Artists</h1>
	{{block "searchFilter" .}}{{end}}
	<!-- filters -->
	{{ block "filterType" .}}{{end}} {{ block "membersFilter" .}}{{end}} {{ block
	"concertsFilter" .}}{{end}} {{ block "rangeFilter" .}} {{end}}
	<!-- end -->

	<!-- artist cards -->
	{{ block "artistCardTemplate" .}}{{end}}
	<!-- end -->

	<!-- modal -->
	{{ block "modalTemplate" .}}{{end}}
	<!-- end -->

	<script
		type="module"
		src="/static/scripts/app.js"
	></script>
	{{end}}
</div>
