{{define "navbarcss"}}
<link
	rel="stylesheet"
	href="/static/styles/navbar.css"
	type="text/css"
/>
{{end}} {{define "navbar"}}
<div class="navbar">
	<div class="nav-logo">
		<div id="nav-groupie">Groupie Tracker</div>
	</div>
	<!-- Hamburger Icon -->
	<div id="hamburger">
		<input
			type="checkbox"
			id="menu-toggle"
			class="menu-toggle"
		/>
		<label
			for="menu-toggle"
			class="hamburger"
		>
			<div
				id="bar1"
				class="bar"
			></div>
			<div
				id="bar2"
				class="bar"
			></div>
			<div
				id="bar3"
				class="bar"
			></div>
		</label>
		<!-- Navigation Menu -->
		<ul id="nav-menu">
			<li id="home">
				<a
					class="navItem"
					href="/"
					>Home</a
				>
			</li>
			<li id="about">
				<a
					class="navItem"
					href="/about"
					>About</a
				>
			</li>
		</ul>
	</div>
</div>
{{end}}
